@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #f5f7f9;
  --text-accent: #009966;
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }
}

@layer components {
  .auth-input {
    @apply w-full border border-gray-400 rounded-md p-2;
  }
}
