@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #f5f7f9;
  --text-seconday: #009966;
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }
}

@layer components {
  .auth-input {
    @apply w-full border border-gray-300 rounded-md p-2 focus:outline-none;
  }
}
